.main{
    display: flex;
    justify-content: center;
    transition: 250ms;
}
.content-wrap{
    max-width: 1800px !important;
    width: 100%;
    display: flex;
    justify-content: center;
}
.posts-feed{
    width: 50%;
    margin: 20px 0 0 0;
    padding: 0 30px;
}
/* messages */
.messages-feed {
    width: 25%;
    position: relative;
}

.fill-up {
    width: 25%;
}

.fixed {
    max-width: 450px !important;
    position: fixed;
    width: calc(25% - 10px);
}

@media screen and (max-width: 1170px) {
    .posts-feed {
        width: 70%;
        padding: 0 15px !important;
    }
    .content-wrap{
        flex-direction: column-reverse;
        align-items: center;
    }
    .fixed{
        max-width: initial !important;
        width: 100%;
        position: static;
    }
    .messages-feed{
        width: 100% !important;
    }
    .fill-up {
        display: none;
    }
}

.leftSide{
    display: flex;
    justify-content: center;
}
.li-wrap {
    top: 49px;
    position: absolute;
    width: calc(100% - 50px);
    margin-top: -28px;
    border-top: none;
    height: max-content;
    overflow: hidden;
    transition: 300ms;
    display: block;
    background: white;
    border-radius: 7px;
}

.nav-ul{
    padding: 0 20px 0 10px;
    transition: 300ms;
    display: flex;
    justify-content: space-between;
    margin: 0;
    height: 100%;
}
.nav-li{
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(240, 240, 240);
    padding: 22px 16px;
    list-style-type: none;
    cursor: pointer;
    transition: 250ms ease-out;
}
.li-span{
    display: inline-block;
    padding-left: 10px;
}
.wrapli{
    width: 120px;
    transform: translateX(calc(50% - 50px));
}
.nav-li:nth-child(1) {
    border: none;
}
.nav-li:hover{
    background: rgb(240, 240, 240);
}
.activeLi{  
    color: blue;
}


@media screen and (max-width: 850px) {
    .posts-feed {
        width: 90%;
    }
}
@media screen and (max-width: 550px) {
    .posts-feed {
        width: 100%;
        margin: 0;
        padding: 0 !important;
    }
    .main{
        overflow-x: hidden;
        padding: 70px 0 0 ;
        background: white;
    }
}
